<html>
    <head>
        {% if title %}
        <title>{{ title }} - Gnosis</title>
        {% else %}
        <title>Gnosis</title>
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css">
        <!-- Place your kit's code here -->
        <script src="https://kit.fontawesome.com/845e7464b3.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alyssaxuu/flowy/flowy.min.css"> 
        <script src="https://cdn.jsdelivr.net/gh/alyssaxuu/flowy/flowy.min.js"></script>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Gnosis</a>
  
            <ul class="navbar-nav mr-auto">



            <!-- For url name string in list, print url and highlight based on current page active -->
            {% for x in ['home', 'subjects'] %}
                <li {% if request.path  == url_for(x) %} class="nav-item active" {% endif %}><a href="{{ url_for(x) }}" class="nav-link">{{ x | capitalize }}</a></li>
            {% endfor %}

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown hidden-md-down">
                    <div class="dropdown">
                        
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user" style="margin-right: 5px;"></i><strong>Account</strong>
                        </a>
                        <!-- If user is logged in/out set url name -->
                        {% if current_user.is_anonymous %}
                            {% set register_status = url_for('register') %}
                            {% set register_text = 'register' %}
                            {% set login_status = url_for('login') %}
                            {% set login_text = 'login' %}
                        {% else %}
                            {% set register_status = url_for('user', username=current_user.username) %}
                            {% set register_text = 'profile' %}
                            {% set login_status = url_for('logout') %}
                            {% set login_text = 'logout' %}
                        {% endif %}
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="{{ login_status }}">{{ login_text }}</a>
                          <a class="dropdown-item" href="{{ register_status }}">{{ register_text }}</a>
                        </div> 
                      </div>
                </li>
            </ul>
            </div>
          </nav>

        {% block content %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
