<html>
    <head>
        {% if title %}
        <title>{{ title }} - Gnosis</title>
        {% else %}
        <title>Gnosis</title>
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css"">
    </head>
    <body>
        <div>Gnosis: <a href="/index">Home</a><a href="/register">Register</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>