  
{% extends "base.html" %}

{% block content %}

<div  class="container-fluid">
    <div class="row">
        
        <div class="col-sm-3">
                <h1 style="margin: 2rem 0rem 1rem 2rem">{{ current_user.username }}'s Subjects</h1>
            <div id="subject-container">
                
                {% for subject in subjects %}
                <div id="subjectCard">
                    <div class="card create-flowy" id="{{ subject.subject_name }}" data-status="listed">
    
                        <div class="card-body" id="goalCardBody">
                            <h4 class="card-title" id="goalCardTitle"><i id="card-dot" class="fas fa-circle" style="color: {{ subject_descriptions[subject.id]['color'] }};"></i> {{ subject.subject_name }}</h4>
                            <p class="card-text" id="taskTitle">{{ subject_descriptions[subject.id]['description'] }}</p>
                            
                            
                
                            
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                            {% for task in subject.tasks %}
                        <!-- {% if loop.index < 2 %}
                            <p style="font-size: 14px; color: grey">{{ subject.subject_name }} Tasks:</p>
                        {% endif %} -->

                                <div class="create-flowy task" id="task-id" value="task" style="border-left: 6px solid {{ subject_descriptions[subject.id]['color'] }};">
                                    {{ task }}
                                </div>

                            {% endfor %}
                </div>
                            <input type="hidden" id="subjectID" value="{{ subject.id }}">
                            <input type="hidden" id="cardSubjectColor" value ="{{ subject_descriptions[subject.id]['color'] }}">
                        </div>
                    </div>
                </div>
                {% endfor %}

                
            </div>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2" style="margin-top: 1rem; margin-left: 2rem;">Toggle Tasks</button>
        </div>
        <div class="col-sm-9" id="can-col">
            <h1 id="plannerHead">Goal Planner <i class="fas fa-sitemap"></i></h1>
            <div  id="canvas" >

            </div>
            <div id="buttonDiv">           
                <button type="button" id="resetGraphingCanvas" class="btn btn-danger" style="margin-right: 1rem; height: 3rem; width: 6rem; font-size: 18px; z-index: 2;">Reset</button>
                <button type="button" id="loadOpen" class="btn btn-secondary" style="margin-right: 1rem; height: 3rem; width: 6rem; font-size: 18px; z-index: 2;" data-toggle="modal" data-target="#loadModal">Plans</button>
                <button type="submit" id="saveOpen" class="btn btn-secondary" style="height: 3rem; width: 6rem; font-size: 18px;"  data-toggle="modal" data-target="#saveModal">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Save plan Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Save Plan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

            <div class="modal-body">
                <div  class="row" id="modal-row">
                    <div class="col-sm-4" style="font-size: 18px; display: flex; align-items: center;;"><label for="plan-name">Plan Name:</label><span id="required-splat" style="color: red;">*</span></div>
                    <div class="col-sm-8"><input type="text" class="form-control" name="plan_name" id="plan_name"></div>
                    <div class="col-sm-4" style="font-size: 18px; display: flex; align-items: center;;"><label for="plan-name">Description:</label><span id="required-splat" style="color: red;">*</span></div>
                    <div class="col-sm-8" style="margin-top: 1rem;">
                        <textarea class="form-control" name="plan_description" id="plan_description" required>

                        </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="save" class="btn btn-success" data-dismiss="modal">Save</button>
                <input type="hidden" id="json_submit" name="jsonsubmit" value="">
            </div>

      </div>
    </div>
</div>

<!-- Load Plan Modal -->
<div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Load Plan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

            <div class="modal-body">
                <div class="row" id="modal-row" style="min-height: 50px;">
                    <img src="../static/assets/loading.gif" id="planListLoading" style="display: none; margin: auto; height: 50px;">
                    <div class="col-sm-4" style="font-size: 18px; display: flex; align-items: center;" id="planLabelCol"><label>Plan Name:</label><span id="required-splat" style="color: red;">*</span></div>
                    <div class="col-sm-8" id="planListCol"><select name="plan_to_load" class="form-control" id="selectFile"></select></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="deletePlan" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#deleteConfirmModal">Delete</button>
                <button type="button" id="loadPlan" class="btn btn-success" data-dismiss="modal">Load</button>
            </div>

      </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{ url_for('delete_graph') }}" method="post" id="deleteForm">

        
            <div id="deleteConfirmModalBody" class="modal-body">
                <div class="col-md-12">
                    <p id="planToDelete">

                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input type="submit" id="deleteConfirm" class="btn btn-danger" value="Delete"></button>
                <input type="hidden" name="planval" id="deleteval">
            </div>
        </form>
      </div>
    </div>
</div>

<!-- Save Response Modal -->
<div class="modal fade" id="saveResponseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Save Plan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

            <div class="modal-body" id="saveResponseMessage">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="overwriteSave" class="btn btn-warning" style="display: none;">Overwrite</button>
            </div>

      </div>
    </div>
</div>

<script type="text/javascript">
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('user') == true) {
        $.getJSON('/load_graph', {
            plan_to_load: urlParams.get('plan'),
            user_id: urlParams.get('user')
        }, function(data) {
                
                var canvas_element = document.getElementById("canvas");
                // Load plan chart into canvas
                //canvas_element.innerHTML = data.plan_data['html'];
                // Load chart data into flowy object
                flowy.import(data.plan_data);
            }).done(function(data) {
                $('#plannerHead').html(data.plan_name + ' ' + '<i class="fas fa-sitemap"></i>');
            });
    }
    
    
</script>


{% endblock %}