{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row" style="margin-bottom: 4rem;">
        <div class="col" id="profileAvatarColumn">
            <img src="{{ user.avatar(128) }}"><br>
            <h1 id="profileUsername">{{ user.username }}</h1>
                
        </div>
    </div>
    <h4 style="text-align: center; margin-top: 2rem;">Subjects</h4>
    <div class="row" id="subjectContainer">
        
        {% for subject in subjects %}
            <div class="col-lg-4 col-md-6 card-holder" id="subjectCard" data-self="{{ subject.subject_name }}">
                <a href="#" style="color: inherit;" data-target="#viewSubjectModal" data-toggle="modal">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ subject.subject_name }}</h5>
                            <input type="hidden" id="subjectID" value="{{ subject.id }}">                      </div>
                    </div>
                </a>
            </div>
        {% endfor %}
</div>



{% endblock %}